main {
    margin: 0 2em 2.5em 2em;
}

/* Home View */

div.borderSet {
    margin-bottom: 2.5em;
    border: 8px solid black;
    border-radius: 8px;
}

/* blog View*/

span.button-create {
    border: 2px solid black;
    border-radius: 8px;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    background-color: darkgray;
}

span.button-create a {
    color: white;
    text-decoration: none;
}

table.table {
    vertical-align: middle !important;
    background-color: lightgray;
    margin-bottom: unset;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

tr:first-child {
    background-color: gray;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

tr th:first-child {
    border-top-left-radius: 5px;
}

tr th:last-child {
    border-top-right-radius: 5px;
}

tr.blogTable:nth-child(2n+1) {    
    background-color: gray;
}

tr.blogTable:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

tr.blogTable:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

tr.blogTable:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

td img {
    border-radius: 5px 5px;
}

/* Contact View*/

button.button-create {
    border: 2px solid black;
    border-radius: 8px;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    background-color: darkgray;
}

/* Login View */

input.button-create {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    background-color: darkgray;
    padding: 0 1em;
    text-align: left;
    font-family: var(--bs-body-font-family);
    font-size: inherit;
    font-weight: inherit;
}

    input.button-create:hover {
        text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
    }

div.login-btn-margin-top {
    margin-top: 1.75em;
}

label.login-fg {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    background-color: darkgray;
    padding: .5em 1em;
}

div.login-fg {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    background-color: darkgray;
    padding: 0 1em;
}

p.login-a-link a {
    text-decoration: none;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    background-color: darkgray;
    padding: 0 1em;
}

p.login-a-link {
    background-color: darkgray;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* Footer */
footer {
    background-color: black;
}