@using Microsoft.AspNet.Identity
@using CleanBlog.UI.MVC.Utilities;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav ms-auto py-4 py-lg-0">
            <li class="navbar-brand px-lg-3 py-3 py-lg-4"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>

    }
}
else
{
    <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="navbar-brand px-lg-3 py-3 py-lg-4 @Html.IsActive("Account", "Login")"> @Html.ActionLink("Login", "Login", "Account")</li>
    </ul>
}
